/* --- App Layout --- */

canvas {
  display: block;
  cursor: url('/cursors/default.png') 0 0, default !important;
}

.scene-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 0;
  cursor: url('/cursors/default.png') 0 0, default;
}

.scene-wrapper {
  width: 100%;
  height: 100%;
  max-width: calc(100vh * 21 / 9);
  position: relative;
}